:root {
  /* primery */
  --Peimery: #ffe983;
  --Primery50: #fffdb6;
  --Primery100: #ffd066;
  --Primery200: #f9aa4b;
  --Primery300: #eb8537;
  --Primery400: #95490f;
  /* pallete */
  --Green: #2bc9af;
  --Cream: #ffbba4;
  --Rose: #ff9bcb;
  --Pink: #fc8de0;
  --Purple: #ab92e1;
}

body {
  background-color: var(--Peimery);
}
h1 {
  color: var(--Rose);
}
