@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@900&family=Poppins:wght@200&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googxleapis.com/css2?family=Great+Vibes&family=Lato:wght@900&family=Poppins:wght@200&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Kanit:wght@300&family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

:root {
  /* primery */
  --Peimery: #ffe983;
  --Primery50: #fffdb6;
  --Primery100: #ffd066;
  --Primery200: #f9aa4b;
  --Primery300: #eb8537;
  --Primery400: #95490f;
  /* pallete */
  --Green: #2bc9af;
  --Cream: #ffbba4;
  --Rose: #ff9bcb;
  --Pink: #fc8de0;
  --Purple: #ab92e1;
  --White: #ffff;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--Peimery);
  padding: 0;
  margin: 0;
}
